.DS_Store
.nova
.sass-cache
node_modules

package-lock.json

dist/m.css
dist/m.css.map
dist/m.js

dist/fonts
dist/img/*.jpg
dist/img/*.jpeg
dist/img/thumb/*.jpg
dist/img/thumb/*.jpeg
src/input/*.jpg
src/input/*.jpeg

